torch>=2.1.0
torchvision>=0.16.0
transformers
accelerate
peft>=0.13.1
sentencepiece>=0.1.99
ftfy
beautifulsoup4
einops
pandas
numpy
Pillow
tqdm
timm>=0.6.12
pytorch-lightning
torchmetrics
scikit-learn
scipy
tensorboard
xformers
opencv-python
